{% extends "app_manager/app_install_base.html" %}
{% load bootstrap_tags staticfiles %}
{% load i18n %}

{% block title %} {{ block.super }} - {% trans "Charts Viewer" %} {% endblock %}
{% block head %}
    {% include "geonode/ext_header.html" %}
    {% include "geonode/app_header.html" %}
    {{ block.super }}
{% endblock %}
{% block body %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div id="root"></div>
        </div>
    </div>

{% endblock %}
{% block extra_script %}
    <script src="{{ STATIC_URL }}cartoview_charts_viewer/dist/config.bundle.js"></script>
    <script>

  {% if instance %}
  var appConfig = {{ instance.config|escape|safe }};
  var abstract = " {% spaceless %}{{ instance.abstract|title }}{% endspaceless %} ";
  var title = "{{ instance.title }}";
  var map_id={{instance.map_id}};
  var instance_id={{instance.id}};
  var geoserver_url = "{{ GEOSERVER_BASE_URL }}";
  var abstract = " {% spaceless %}{{ instance.abstract|title }}{% endspaceless %} ";
  {% endif %}
    var username="{{request.user.username}}"
    var viewer=new Viewer('root',{'instance':{map:{id:map_id,title:title,abstract:abstract},id:instance_id,config:appConfig},'urls':{'resources_url':"/api/maps","mapLayers":"/apps/maplayers/api","layerAttributes":"/apps/rest/app_manager/geonodelayerattribute/","view":"/apps/cartoview_charts_viewer/"+instance_id+"/view/"},'limit':9},username);
    viewer.view();
    </script>
    <script>
    $(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>

{% endblock %}
