<div layout-padding>
    <div layout="column" layout-align="start start">
      <md-input-container flex>
          <label>Chart Type</label>
          <md-select ng-model="instanceObj.config.chartsViewer.type" required>
              <md-option ng-repeat="type in chartTypes" ng-value="type.name">{{ type.title }}</md-option>
          </md-select>
      </md-input-container>
        <md-input-container>
            <label>Chart Title</label>
            <input placeholder="Item Title" ng-model="instanceObj.config.chartsViewer.chartTitle" required="">
        </md-input-container>
        <md-input-container>
            <label>Layer</label>
            <md-select ng-model="instanceObj.config.chartsViewer.layer" required >
                <md-option ng-repeat="layer in mapLayers" ng-value="layer.name">{{ layer.title }}</md-option>
            </md-select>
        </md-input-container>

        <div layout="column">
            <md-input-container>
                <label>Attribute</label>
                <md-select ng-model="instanceObj.config.chartsViewer.attribute" required>
                    <md-option ng-repeat="attribute in getLayerAttrs(item)" ng-if="attribute.isNumeric" ng-value="attribute.name">{{ attribute.title }}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex>
                <label>Operation</label>
                <md-select ng-model="instanceObj.config.chartsViewer.operation" required>
                    <md-option ng-repeat="operation in operations" ng-value="operation.name">{{ operation.title }}</md-option>
                </md-select>
            </md-input-container>
        </div>

        <div layout="column">
            <md-input-container>
                <label>Group by Attribute</label>
                <md-select ng-model="instanceObj.config.chartsViewer.groupBy" required>
                    <md-option ng-repeat="attribute in getLayerAttrs(item)" ng-value="attribute.name">{{ attribute.title }}</md-option>
                </md-select>
            </md-input-container>
        </div>

    </div>
</div>
